
/*导航栏*/

header{
    width: 100%;
    height: 60px;
    background-color: #171a21;
    font-size: 120%;
}

.logo{
    font-size: 55px;
    font-family: Oraqle Script,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.slogan{
    margin-left: 50px;
    font-size: 30px;
    font-family: oh wonder,'Times New Roman', Times, serif;
    color: white;
}

.head_option{
    list-style: none;
    float: right;
    margin: 0px;
    text-align: center;
    font-size: 20px;
}

.head_option li{
    margin-top: 10px;
    display: inline-block;
    width: 80px;
    padding-top: 10px;
    padding-left: 40px; 
    color: white;
}

.head_option a:link {
    height: 25px;
    width: 80px;
    text-decoration: none;
    color: white;
    display: block;
    background-color: transparent;
    font-weight: 700;
}

.head_option a:visited{
    color: white;
}

.head_option a:hover{
    background-color: wheat;
}

#logo_slogan1{
    display: none;
}

/*推荐部分*/

#recommand{
    position: absolute;
    width:100%;
    height: 700px;
    top:60px;
    overflow: hidden;
}

#recommand_inc{
    position: absolute;
    top: 200px;
    left: -530px;
    line-height: 200%;
    opacity: 0.6;
}

#recommand_inc li{
    padding: 20px 0 0 0;
    display: inline-block;
    width: 450px;
    height: 350px;
    float: left;
    margin: 0 125px 0 1025px;
    text-align: center;
    background: #F5FFFA;
}

#recommand_image{
    position: absolute;
    width: 8000px;
}

#recommand_image img{
    float: left;
    width: 20%;
}

#recommand_image:hover{
    animation-play-state: paused;
}

.animation{
    animation: show 10s ease-out infinite alternate;
}

@keyframes show{
    5%,25%{margin-left: 0px;}
    25%,40%{margin-left: -1600px;}
    40%,60%{margin-left: -3200px;}
    60%,75%{margin-left: -4800px;}
    75%,100%{margin-left: -6400px;}
}

.ref_num{
    position: absolute;
    left: 600px;
    top: 650px;
    font-size: 30px;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    box-shadow: 0 0 8px 2px black;
    text-align: center;
    color: white;
    z-index: 10;
}

.ref_num:nth-child(2){margin-left: 50px;}
.ref_num:nth-child(3){margin-left: 100px;}
.ref_num:nth-child(4){margin-left: 150px;}
.ref_num:nth-child(5){margin-left: 200px;}

.ref_num:hover{
    background: #000033;
    animation-play-state: paused;
}

#ref1:hover ~ #recommand_image{
    animation: trans1 .5s ease-out forwards;
}

#ref2:hover ~ #recommand_image{
    animation: trans2 .5s ease-out forwards;
}

#ref3:hover ~ #recommand_image{
    animation: trans3 .5s ease-out forwards;
}

#ref4:hover ~ #recommand_image{
    animation: trans4 .5s ease-out forwards;
}

#ref5:hover ~ #recommand_image{
    animation: trans5 .5s ease-out forwards;
}

@keyframes trans1{
    100%{margin-left: 0px;}
}

@keyframes trans2{
    100%{margin-left: -1600px;}
}

@keyframes trans3{
    100%{margin-left: -3200px;}
}

@keyframes trans4{
    100%{margin-left: -4800px;}
}

@keyframes trans5{
    100%{margin-left: -6400px;}
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 34px;
}

.author{
    font-family: whisper,sans-serif;
    font-size: 30px;
}

.image_inc{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

.details_rec{
    margin: 20px auto;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: #ccffff;
}

.details_rec:hover{
    background-color: skyblue;
}

.details_rec a:link{
    font-family: consolas;
    text-decoration: none;
    color: black;
}

.details_rec a:visited{
    color: black;
}


/*三张照片部分*/

main{
    position: absolute;
    top:760px;
    width: 100%;
    height: 700px;
}

main figure{
    height: 670px;
    display: inline-block;
    box-shadow: 0 0 8px 2px rgba(211, 211, 211, 0.75);
	border: none;
	border-radius: 7px;
    margin-top: 10px;
    margin-left: 150px; 
    vertical-align: top;
}

figure:focus{
    outline: none;
}

figcaption{
    text-align: center;
    display: block;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    width: 270px;
    height: 350px;
    white-space: pre-line;
}

figcaption h2{
    font-family: whisper,sans-serif;
    font-size: 25px;
}

.main_image{
    width: 270px;
    height: 270px;
    border-radius: 270px;
    border: 3px solid #ffffcc;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 1s ease;
}

.main_image:hover {
    -webkit-transform: rotate(-3deg) scale(1.5);
    -moz-transform: rotate(-3deg) scale(1.5);
}

.details{
    box-shadow: 0 0 8px 2px rgba(211, 211, 211, 0.75);
	border: none;
    border-radius: 4px;
    background-color: #00CDCD;
    color:white;
    width: 100px;
    height: 20px;
    margin-left: auto;
    margin-right: auto; 
}

.details a:link{
    text-decoration: none;
    color: white;
}

.details a:visited{
    color: white;
}

/*尾部*/

footer{
    position: absolute;
    top: 1460px;
    width: 100%;
    height: 30px;
    background-color: #171a21;
}

footer .copyright{
    font-family:  consolas,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;   
    text-align: center;
}
