/*导航栏*/

header{
    width: 100%;
    height: 60px;
    background-color: #171a21;
    font-size: 120%;
}

.logo{
    font-size: 80px;
    font-family: Oraqle Script,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.slogan{
    margin-left: 50px;
    font-size: 30px;
    font-family: oh wonder,'Times New Roman', Times, serif;
    color: white;
}

.head_option{
    list-style: none;
    float: right;
    margin: 0px;
    text-align: center;
    font-size: 20px;
}

.head_option li{
    margin-top: 10px;
    display: inline-block;
    width: 80px;
    padding-top: 10px;
    padding-left: 40px; 
    color: white;
}

.head_option a:link {
    text-decoration: none;
    color: white;
    display: block;
    background-color: transparent;
    font-weight: 700;
}

.head_option a:visited{
    color: white;
}

#logo_slogan1{
    display: none;
}

.search{
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

#search_dialog{
    height: 16px;
}

#search_button{
    height: 20px;
    width: 20px;
    background-color: antiquewhite;
    background-image: url("../images/icon/search.png");
    vertical-align: bottom;
}

.nav2back{
    width: 100%;
    height: 30px;
    background-color: gainsboro;
    border-bottom: 1px solid purple;
}

.nav2 li{
    margin-top: 3px;
    display: inline-block;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
    width: 150px;
    text-align: center;
}

.nav2 a:link{
    color: black;
    text-decoration: none;
}

.nav2 a:visited{
    color: black;
    text-decoration: none;
}

#logo_slogan1{
    display: none;
}

/*用户界面*/

#afterlog_upload{
    display: none;
}

#afterlog_buy{
    display: none;
}

#afterlog_sell{
    display: none;
}

#afterlog_info{
    display: none;
}

.Userinfo{
    float: left;
    height: 400px;
    width: 350px;
    background-color: skyblue;
    font-size: 20px;
    line-height: 150%;
    margin-left: 20px;
    margin-top: 20px;
    border: 3px solid pink;
}

.Userinfo img{
    margin-top: 10px;
    margin-left: 100px;
}

.Userinfo button{
    margin-left: 200px;
    margin-top: 10px;
    font-size: 20px;
}

.Upload{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    height: 300px;
    width: 70%;
    background-color: #DBFF33;
    border: 3px solid pink;
}

.Upload h1{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-family: 宋体,'Times New Roman', Times, serif;
}

.Buy{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    height: 300px;
    width: 70%;
    background-color: #75FF33;
    border: 3px solid pink;
}

.Buy h1{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-family: 宋体,'Times New Roman', Times, serif;
}

.sell{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    height: 300px;
    width: 70%;
    background-color: #33FFBD;
    border: 3px solid pink;
}

.sell h1{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-family: 宋体,'Times New Roman', Times, serif;
}

main table{
    margin-top: 10px;
}

main table th{
    padding: 20px;
}

main table td{
    padding: 20px;
}

/*尾部*/

footer{
    position: absolute;
    top: 1160px;
    width: 100%;
    height: 30px;
    background-color: #171a21;
}

footer .copyright{
    font-family:  consolas,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;   
    text-align: center;
}
