/*导航栏*/

header{
    width: 100%;
    height: 60px;
    background-color: #171a21;
    font-size: 120%;
}

.logo{
    font-size: 80px;
    font-family: Oraqle Script,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.slogan{
    margin-left: 50px;
    font-size: 30px;
    font-family: oh wonder,'Times New Roman', Times, serif;
    color: white;
}

.head_option{
    list-style: none;
    float: right;
    margin: 0px;
    text-align: center;
    font-size: 20px;
}

.head_option li{
    margin-top: 10px;
    display: inline-block;
    width: 80px;
    padding-top: 10px;
    padding-left: 40px; 
    color: white;
}

.head_option a:link {
    text-decoration: none;
    color: white;
    display: block;
    background-color: transparent;
    font-weight: 700;
}

.head_option a:visited{
    color: white;
}

#logo_slogan1{
    display: none;
}

.search{
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

#search_dialog{
    height: 16px;
}

#search_button{
    height: 20px;
    width: 20px;
    background-color: antiquewhite;
    background-image: url("../images/icon/search.png");
    vertical-align: bottom;
}

.nav2back{
    width: 100%;
    height: 30px;
    background-color: gainsboro;
    border-bottom: 1px solid purple;
}

.nav2 li{
    margin-top: 3px;
    display: inline-block;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
    width: 150px;
    text-align: center;
}

.nav2 a:link{
    color: black;
    text-decoration: none;
}

.nav2 a:visited{
    color: black;
    text-decoration: none;
}

#logo_slogan1{
    display: none;
}

/*主体部分*/

/*尾部*/

footer{
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #171a21;
}

footer .copyright{
    font-family:  consolas,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;   
    text-align: center;
}